.citySelector__animation-enter {
    opacity: 0;
    transform: translateY(-10px);
}
.citySelector__animation-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 300ms ease,
        transform 300ms ease;
}

.citySelector__animation-exit {
    opacity: 1;
    transform: translateY(0);
}
.citySelector__animation-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition:
        opacity 300ms ease,
        transform 300ms ease;
}
